{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <h1>ToDo List</h1>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group" style="padding:2px;">
                    <input type="text" class="form-control"  name="task" placeholder="Taskname" >
                </div>
                <div class="form-group" style="padding:2px;">
                    <input type="text" class="form-control" name="priority" placeholder="Enter your priority">
                </div>
                <div class="form-group" style="padding:2px;">
                    <input type="date" class="form-control" name="date" placeholder="Enter your date">
                </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>

        <div class="col-md-6">
            <h5>Tasks to be completed</h5>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title" >{{i.name}}</h5>
                    <p>{{i.date}}</p>
                    <p>{{i.priority}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>

                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}